html, body{margin:0px;padding:0px;color:#444;background-color:white;font-family:Verdana,Helvetica,Arial,sans-serif;font-size:0.9em;}
h1, h2, h3{font-family:Arial,sans-serif;}
h1{float:left;width:255px;height:255px;background-image:url(//counter.opensuse.org/medium);margin:22px 0px 10px 0px;}
h1 span{display:none;}
h2{margin:0px 0px 20px;color:#003742;}
h3{font-size:1em;}
hr{height:0px;color:white;border-top:1px dotted #999;margin:25px 0px 20px;}
a{color:#179679;}
img{border:0px;}
#background{background-color:#eee;clear:both;margin:40px 0px 0px;padding:20px 0px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
#search{height:40px;background-color:#e0e0e0;background-image:url(../images/frontpage/box_search.png);background-position:bottom left;}
#search form{margin:7px 0px 0px 20px;}
#search form div{float:left;}
#search form div.searchbox{float:left;width:360px;background-color:white;border:1px solid #999;background-image:url(../images/frontpage/searchbox_bg.png);background-repeat:repeat-y;}
#search form select, #search form input{font-family:Verdana,Helvetica,Arial,sans-serif;font-size:0.9em;color:#444;}
#search form select{width:180px;height:22px;padding:2px;}
#search form div.select{cursor:pointer;float:left;width:33px;height:20px;}
#search form div.select .green{background-image:url(../images/frontpage/geeko_green.png);}
#search form div.select .orange{background-image:url(../images/frontpage/geeko_orange.png);}
#search form div.select div{height:20px;background-image:url(../images/frontpage/searchbox_arrow.png);background-repeat:no-repeat;background-position:2px 8px;padding:0px 0px 0px 12px;}
#search form div.select div p{margin:0px;padding:0px;display:block;width:20px;overflow:hidden;background-repeat:no-repeat;background-position:0px 3px;}
#search form div.select ul{margin:1px 0px 0px;padding:0;list-style:none;width:300px !important;background-color:#eee;border:1px solid #999;}
#search form div.select li{color:#4d4d4d;padding-left:10px;padding:3px 10px 0px 30px;height:18px;cursor:pointer;background-repeat:no-repeat;background-position:10px 3px;}
#search form div.select li.active{background-color:#ccc;}
#search form input.textfield{padding:2px;margin:0px;width:150px;height:100%;}
#search form input.transformed{width:295px;border:0px;background-color:transparent;background-image:none;}
#search form input.hint{color:#aaa;}
#search form input.button{display:block;float:left;}
#search form input.searchbutton{display:none;position:relative;top:2px;left:2px;wdith:16px;height:16px;border:0px;}
#intro{clear:right;}
#intro p{margin:0px;font-size:1.05em;clear:both;}
#intro p.first{margin:0px 0px 10px;padding:5px 0px 0px;}
#intro strong{color:#003742;}
#quicklinks{float:right;margin:20px 0px 0px;padding:0px;list-style:none;}
#quicklinks li{display:block;margin-bottom:21px;}
#quicklinks li a{display:block;width:455px;color:white;font-size:0.8em;text-decoration:none;background-image:url(../images/frontpage/box_border_middle.png);background-repeat:repeat-y;}
#quicklinks li a span.top, #quicklinks li a span.bottom{display:block;height:10px;width:455px;background-repeat:no-repeat;}
#quicklinks li a span.top{float:left;background-image:url(../images/frontpage/box_border_top.png);}
#quicklinks li a span.bottom{background-image:url(../images/frontpage/box_border_bottom.png);}
#quicklinks li a span.buttontext{display:block;float:left;padding:40px 20px 15px 210px;background-position:10px 0px;background-repeat:no-repeat;}
#quicklinks li a strong{display:none;}
#quicklinks #get a{background-color:#003742;}
#quicklinks #get a:hover{background-color:#004557;}
#quicklinks #get .buttontext{background-image:url(../images/frontpage/box_content_get.png);}
#quicklinks #discover a{background-color:#65b244;}
#quicklinks #discover a:hover{background-color:#6fc44b;}
#quicklinks #discover .buttontext{background-image:url(../images/frontpage/box_content_discover.png);}
#quicklinks #create a{background-color:#179679;}
#quicklinks #create a:hover{background-color:#19a686;}
#quicklinks #create .buttontext{background-image:url(../images/frontpage/box_content_create.png);}
#screenshots{display:none;}
#screenshots h2{position:relative;top:30px;}
#toggle_screenshots_container{position:relative;top:-1px;margin-bottom:40px;}
#toggle_screenshots{display:block;width:179px;height:29px;margin-left:30px;background-image:url(../images/frontpage/button_screenshots_show.jpg);background-position:0px 0px;}
#toggle_screenshots.expanded{background-image:url(../images/frontpage/button_screenshots_hide.jpg);}
#toggle_screenshots:hover{background-position:0px -29px;}
#toggle_screenshots span{display:none;}
#teasers{clear:both;}
#teasers img{float:left;margin-right:10px;}
#news h2{float:left;}
#news #rss{float:left;margin:4px 0px 20px 10px;}
#news #rss img{width:16px;height:15px;}
#news ul{list-style:none;margin:0px;padding:0px;}
#news li{clear:both;margin-bottom:5px;}
#news li strong{display:block;float:left;width:65px;}
#news li a{display:block;float:right;width:190px;}
#help img{width:100px;height:100px;}
#shop img{width:125px;height:114px;}
#footer_start{margin-top:20px !important;}
#network{float:left;list-style:none;margin:0px;height:20px;padding:5px 0px 0px;font-size:0.8em;}
#network li{float:left;margin:0px 13px 0px 0px;}
#i18n form{display:inline;}
#i18n select{font-family:Verdana,Helvetica,Arial,sans-serif;font-size:0.9em;color:#444;}
#i18n option{background-position:0px 2px;background-repeat:no-repeat;padding-left:20px;}

#spon{font-size:0.9em;margin-top:10px;text-align: center; }
#spon h2{color:#889999;font-size:0.8em;text-align:center;margin:0px 0px 10px;}
#spon a{text-align:center;margin:0px 10px;}
#spon hr{margin-top:10px;}
#legal{color:#889999;text-align:center;font-size:0.8em;}
#legal img{width:140px;height:20px;}
.centered{max-width:760px;margin:0px auto;clear:both;}
.left{float:left;}
.right{float:right;clear:right;}
.minor_column{width:265px;}
.major_column{width:455px;}
.clear{display:block;float:none;clear:both;height:0px;}
.hidden{display:none;}
