html,
body {
	height: 100%;
	margin: 0;
	
	font-family: Arial, sans-serif;
	background: #FFF url('images/opensuse_logo.png') no-repeat fixed 10px 10px;	
}
hr {display: none;}

#vspacer { /* important for vertical alignment of content */
	position: relative;
	height: 40%;
	width: 1px;
	margin-bottom: -8.5em;	/* vertical alignment */
	visibility: hidden;
}

#vspacer_footer { /* important for vertical alignment of footer */
	position: relative;
	height: 7%;
	width: 1px;
	margin-bottom: 0em;	/* vertical alignment */
}

#content_wrapper,
#footer_wrapper,
#legal_box,
#sponor_wrapper {
	width: 47em;
	margin: 0 auto 2em; /* horizontal alignment */
}

#legal_box {margin-bottom: 0;}
a img {border: 0;}
#content_wrapper {
	height: 50%;
	overflow: visible;
}
#content_wrapper * {cursor: pointer; /* IE7 needs this */}
#left_box,
#center_box,
#right_box {
	width: 12.5em;
	height: 19em;
	float: left;
}
#left_box a,
#center_box a,
#right_box a {text-decoration: none;}
#left_box a {color: #FAE6C6;}
#center_box a {color: #DCEDCC;}
#right_box a {color: #D9DCDE;}
#left_box,
#center_box {margin: 0 4.5em 0 0;}
#center_box {position: relative;}
#sponor_wrapper,
#legal_box {text-align: center;}
#legal_box,
#sponsored_by {
	font-size: 8pt;
	color: #899;
}
#sponor_wrapper {
	width: 45em;
	height: 50px;
	height: 60px;
	margin: 0 auto 5px;
	border-bottom: 1px solid #eee;
}
#sponsor_divtable {
	min-width: 350px;
	width: 350px;
	max-width: 740px;
	margin:0 auto;
}
#sponsored_by {
	width: 70pt;
	padding-top: 16px;
	padding-bottom: 10px;
	font-size: 10pt;
	text-align: left;
}
#sponsored_by,
#sponsor_logo {	float: left;}
#legal_box {padding-top: 3px;}
#legal_box img {margin-top: 0.5em;}
#linux_txt {
	width: 750px;
	margin: 0 auto;
	font-size: 0.8em;
	color: #CCC;
	text-align: center;
	}

#sponsor_logo img {
	margin-right: 1em;
}

/*********
 * boxes *
 *********/
.top_row,
.middle_row,
.bottom_row {display: block;}

.left,
.center,
.right {
	display: block;
	float: left;
}

.right {float: right;}

.top_row,
.bottom_row,
.left,
.right {height: 1em;}
.left,
.right {width: 1em;}

.middle_row {height: 9em;}
.middle_row .left,
.middle_row .center,
.middle_row .right {height: 100%;}
.top_row .left,
.top_row .right,
.top_row {height: 139px;}
.middle_row .center {}
.top_row {background: url('images/box/top_center.gif') repeat-x scroll top left;}
	.top_row .left {background: url('images/box/top_left.gif') no-repeat scroll top left;}
	.top_row .center {height: 100%;}
	.top_row .right {background: url('images/box/top_right.gif') no-repeat scroll top right;}

/*.middle_row .center {*/
.center {
	width: 10.5em;
	text-align: center;
}

#left_box .top_row .center {	
	background: url('images/box/iso_cds.png') bottom center no-repeat;
}

#center_box .top_row .center {	
	background: url('images/box/compass.png') bottom center no-repeat;
}

#right_box .top_row .center {	
	background: url('images/box/blueprint.png') bottom center no-repeat;
}

/* left-box ==================================================== */
#left_box .bottom_row .left {
	background: url('images/box/orange/bottom_left.gif') no-repeat scroll bottom left;
}
#left_box .bottom_row .right {
	background: url('images/box/orange/bottom_right.gif') no-repeat scroll bottom right;
}
	
#left_box .middle_row .left {
	background: url('images/box/orange/middle_left.gif') repeat-y scroll top left;
}
#left_box .middle_row .right {
	background: url('images/box/orange/middle_right.gif') repeat-y scroll top right;
}
#left_box .middle_row {
	background: url('images/box/orange/middle_center.gif') repeat scroll top left;
}

#left_box .bottom_row {
	background: #FFF url('images/box/orange/bottom_center.gif') repeat-x scroll bottom left;
}

#left_box .middle_row .center {
	background: url('images/box/get_it.jpg') no-repeat center 15px;
}

/* center-box ==================================================== */
#center_box .middle_row .left {
	background: url('images/box/green/middle_left.gif') repeat-y scroll top left;
}
#center_box .middle_row .right {
	background: url('images/box/green/middle_right.gif') repeat-y scroll top right;
}
#center_box .middle_row {
	background: url('images/box/green/middle_center.gif') repeat scroll top left;
}
#center_box .bottom_row .left {
	background: url('images/box/green/bottom_left.gif') no-repeat scroll bottom left;
}
#center_box .bottom_row .right {
	background: url('images/box/green/bottom_right.gif') no-repeat scroll bottom right;
}
#center_box .bottom_row {
	background: url('images/box/green/bottom_center.gif') repeat-x scroll bottom left;
}
#center_box .middle_row {
	background-color: #690;
}
#center_box .middle_row .center {
	background: transparent url('images/box/diskover_it.gif') no-repeat center 16px;
}

/* special elemets  */
.box_content {
	display: block;
	margin-top: 50px;
}

.form_wrapper {
	display: block;
	position: absolute;
	top: 220px;	
	text-align: center;
	width:12.5em;
	height: auto;
}

#center_box  select {
	width: 10em;
	border: 1px solid #86A931;
	background-color: white; /* important for Opera */
	color: #333;
}

/* right-box ===================================================== */
#right_box .middle_row .left {
	background: url('images/box/gray/middle_left.gif') repeat-y scroll top left;
}
#right_box .middle_row .right {
	background: url('images/box/gray/middle_right.gif') repeat-y scroll top right;
}
#right_box .middle_row {
	background: url('images/box/gray/middle_center.gif') repeat scroll top left;
}
#right_box .bottom_row .left {
	background: url('images/box/gray/bottom_left.gif') no-repeat scroll bottom left;
}
#right_box .bottom_row .right {
	background: url('images/box/gray/bottom_right.gif') no-repeat scroll bottom right;
}
#right_box .bottom_row {
background: url('images/box/gray/bottom_center.gif') repeat-x scroll bottom left;
}
#right_box .middle_row .center {
	background: url('images/box/create_it.jpg') no-repeat center 15px;
}


/* =============================================================== */
.gray_bg {
	background-color: #EEE;
}